<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (edited) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (edited) { %><%= prods.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (edited) { %><%= prods.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="price" >Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (edited) { %><%= prods.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (edited) { %><%= prods.description %><% } %></textarea>
            </div>
            <% if (edited) { %>
                <input type="hidden" name="productId" value="<%= prods._id %> ">
            <% } %>
            <button class="btn" type="submit"><% if (edited) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>